<div class="color-swatch-picker">
    <input type="hidden" name="journal[color]" id="journal-color-input" value="#a3cfbb">

    <div class="swatch-grid">
        <div class="color-swatch-item" data-value="#a3cfbb" title="#a3cfbb">
            <div class="color-swatch" style="background-color:#a3cfbb;"></div>
        </div>
        <div class="color-swatch-item" data-value="#9ec5fe" title="#9ec5fe">
            <div class="color-swatch" style="background-color:#9ec5fe;"></div>
        </div>
        <div class="color-swatch-item" data-value="#ffe69c" title="#ffe69c">
            <div class="color-swatch" style="background-color:#ffe69c;"></div>
        </div>
        <div class="color-swatch-item" data-value="#cfe2ff" title="#cfe2ff">
            <div class="color-swatch" style="background-color:#cfe2ff;"></div>
        </div>
        <div class="color-swatch-item" data-value="#d1e7dd" title="#cff4fc">
            <div class="color-swatch" style="background-color:#cff4fc;"></div>
        </div>
        <div class="color-swatch-item" data-value="#f8d7da" title="#f8d7da">
            <div class="color-swatch" style="background-color:#f8d7da;"></div>
        </div>
        <div class="color-swatch-item" data-value="#9eeaf9" title="#9eeaf9">
            <div class="color-swatch" style="background-color:#9eeaf9;"></div>
        </div>
        <div class="color-swatch-item" data-value="#f1aeb5" title="#f1aeb5">
            <div class="color-swatch" style="background-color:#f1aeb5;"></div>
        </div>
        <div class="color-swatch-item" data-value="#e9ecef" title="#e9ecef">
            <div class="color-swatch" style="background-color:#e9ecef;"></div>
        </div>
    </div>
</div>