

<select class="form-select color-box" aria-label="Background color" name="journal[color]" 
    style="width:5rem; cursor: pointer;">
    <option selected value="random" hidden>&#127912;</option>
    <option style="color:#a3cfbb; background-color:#a3cfbb;" value="#a3cfbb"></option>
    <option style="color:#9ec5fe; background-color:#9ec5fe;" value="#9ec5fe"></option>
    <option style="color:#ffe69c; background-color:#ffe69c;" value="#ffe69c"></option>
    <option style="color:#cfe2ff; background-color:#cfe2ff;" value="#cfe2ff"></option>
    <option style="color:#e2e3e5; background-color:#e2e3e5;" value="#e2e3e5"></option>
    <option style="color:#d1e7dd; background-color:#d1e7dd;" value="#d1e7dd"></option>
    <option style="color:#cff4fc; background-color:#cff4fc;" value="#cff4fc"></option>
    <option style="color:#fff3cd; background-color:#fff3cd;" value="#fff3cd"></option>
    <option style="color:#f8d7da; background-color:#f8d7da;" value="#f8d7da"></option>
    <option style="color:#9eeaf9; background-color:#9eeaf9;" value="#9eeaf9"></option>
    <option style="color:#f1aeb5; background-color:#f1aeb5;" value="#f1aeb5"></option>
    <option style="color:#e9ecef; background-color:#e9ecef;" value="#e9ecef"></option>
</select>

