
    <section>
        <div class="quote d-flex justify-content-center mb-5">
            <img src="/assets/quotes-svgrepo-com.svg" alt="quote" width="25px" class="ms-3">
            <span class="mx-4 align-self-center">
                You go to therapy not for answers, you go for questions, we already have the answers inside of
                us <br>
                - Robert Rodriguez
            </span>
            <img src="/assets/quotes-end-svgrepo-com.svg" alt="end quote" width="25px" class="me-3">
        </div>

        <div class="d-flex justify-content-center align-self-center mb-5">
            <a href="/register" class="text-decoration-none create-acc-btn p-2 px-3 shadow-lg rounded-2">
                Create an account
            </a>
        </div>
    </section>