/* 
primary - F4C753
secondary deep teal- #0D4A4A 
border - #D95F5F
*/

* {
  font-family: "Geist", sans-serif;
  color: #0d4a4a;
}
.container-fluid {
  background-color: #f4c753 !important;
}

.nav-link.active {
  border-bottom-color: #d95f5f;
}

.nav-link {
  color: #0d4a4a;
  font-weight: 500;
  padding: 0.25rem 0;
  margin-left: 1rem;
  border-bottom: 2px solid transparent;
}
.nav-link:hover {
  transform: translateY(-2px);
  color: #fdf6e3;
  border-bottom: 2px solid #d95f5f;
}
.feed-btn, .journal-btn, .logout-btn {
  padding: auto;
  margin-top: -1.5px;
}


h1 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #0d4a4a;
  background-color: #f4c753;
  animation: fadeDown 0.6s ease-in-out;
}

.question {
  color: #0d4a4a;
}

.start-journal-btn {
  background-color: #0d4a4a;
  color: white;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  font-weight: bold;
  font-style: italic;
}

.start-journal-btn:hover {
  transform: translateY(-2px);
  color: #f4c753;
  border-bottom: 2px solid #d95f5f;
  border-right: 2px solid #d95f5f;
  transition: 0.4s;
}

/* INFO SECTION */

.info-section {
  background: linear-gradient(#f4c753 25%, white);
}

.motto {
  margin: 5rem 5rem 0 5rem;
}
.motto span {
  display: block;
  color: #0d4a4a;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  animation: fadeUp 0.8s ease-in;
}

.motto-svg {
  margin-top:-7px;
  /* border: 2px solid red; */
  max-width: 30rem;
  max-height: 4.5rem;
  overflow: hidden;
  left:0;
}


.new-time-discover {
  color: #0d4a4a;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-time-discover p {
  margin-top: 1rem;
}

.new-time-discover img {
  animation: fadeLeft 0.8s ease-in;
}
.new-time-discover p {
  animation: fadeRight 0.8s ease-in;
}

.rwrs:nth-of-type(1) {
padding:5px;
margin:0px 5px;
border-bottom: 2px solid #f2f2f2;
}
.rwrs:nth-of-type(2) {
padding:5px;
margin:0px 5px;
border-bottom: 2px solid #f2f2f2;
}
.rwrs:nth-of-type(3) {
padding:5px;
margin:0px 5px;
border-bottom: 2px solid #f2f2f2;
}
.rwrs:nth-of-type(4) {
padding:5px;
margin:0px 5px;
border-bottom: 2px solid #f2f2f2;
}

.rwrs {
  animation: fadeUp 0.8s ease-in;
}

.card-header {
  width: 100% !important;
}

.card-body {
  color: #0d4a4a;
}

/* INSPO SECTION */

.inspo-section {
  background: linear-gradient(white 5%, #f4c753);
}

.quote {
  color: #0d4a4a;
  margin-top: 10%;
  text-align: center;
  justify-self: center;
}

.quote span {
  margin-top:2rem;
}

.create-acc-btn {
  background-color: #0d4a4a;
  color: white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  font-weight: bold;
  font-style: italic;
}

.create-acc-btn:hover {
  transform: translateY(-2px);
  color: #fdf6e3;
  border-bottom: 2px solid #d95f5f;
  border-right: 2px solid #d95f5f;
  transition: 0.4s;
}

footer {
  display: flex;
  color: #0d4a4a;
  font-size: 0.8rem;
  justify-content: center;
}

/* -------- */

@keyframes lineDraw {
  0% { 
    width: 0%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  } 
}

@keyframes fadeLeft {
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeRight {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 600px) {

  .motto {
    margin-bottom: 3rem;
  }
  .question {
    margin: 0 1.5rem;
    text-align: center;
  }
  .text-draw__p {
    font-size: medium;
  }
  .draw-animation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 0.25rem;
    align-items: stretch;
  }

  .card {
    width: 150;
  }

  .card-body {
    font-size: 0.8rem;
  }
}

@media (min-width: 900px) {
/* READ WRITE REFLECT SHARE -rwrs */
.rwrs {
  min-width: 250px;
  min-height: 290px;
}
}


/* MODAL CSS */
.modal-title {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #0d4a4a; 
}

.public-icon:hover {
  cursor: pointer;
  background-color: lightgray;
}
.private-icon:hover {
  cursor: pointer;
  background-color: lightgray;
}