* {
  font-family: "Geist", sans-serif;
  color: #0d4a4a;
}

.container-fluid {
  background-color: #f4c753 !important;
}

.nav-link.active {
  border-bottom-color: #d95f5f;
}

.nav-link {
  color: #0d4a4a;
  font-weight: 500;
  padding: 0.25rem 0;
  margin-left: 1rem;
  border-bottom: 2px solid transparent;
  transition: transform 0.2s ease, border-bottom-color 0.2s ease;
}

.nav-link:hover {
  color: #0d4a4a;
  transform: translateY(-2px);
  border-bottom: 2px solid #d95f5f;
}

.feed-btn, .journal-btn, .logout-btn {
  padding:auto;
  margin-top: -1.5px;
}
